

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="assets/style/css" type="text/css" rel="stylesheet" />
    <title>Makers Row</title>
  </head>
  <body>
  <center><h1>Makers Row</h1></center>
<article class="col-md-6">
<center><h3><p>
    Welcome to the Makers Row Factory and Brands page. This page allows you to use our API endpoints
    for both our band and factory and obtain the information you are seeking in a fast and easy manner.
    For more information please visit the official website @  <a href="https://makersrow.com/."> Makers Row </a>
</center> </h3></p>
</article>
      <center>

    <a href='/factories'><img src="http://emilygoligoski.com/wp-content/uploads/2013/02/Makers-Row-Featured-Image.jpg"
    alt="Mountain View"
    style="width:304px;height:228px;"></a>
    <a href="/factories" class="a"><button type="button" class="btn btn-success">Factories API</button></a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <a href='/brands'><img src="http://botanicalcolors.com/dir/wp-content/uploads/2013/08/makers-row-2.jpg"
    alt="Mountain View"
    style="width:304px;height:228px;"></a>
    <a href="/brands" class="b"><button type="button" class="btn btn-primary">Brands API</button></a>
  </center>
  </body>
</html>
